<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="htpp://google.com"><em>Ruby on Rails Tutorial</em></a> is a
  <a href="http://google.com">Book</a> and
  <a href="http://google.com">screencast series</a>
  to tesch web developer with
  <a href="http://google.com">Ruby on Rails</a>.
  this is the sample application for the Tutorial.
</p>


